Service/CryptoOrderManagerService/.vs/
Service/CryptoOrderManagerService/CryptoOrderManagerService/obj/
Service/CryptoOrderManagerService/CryptoOrderManagerService/bin/
Service/CryptoOrderManagerService/.vs/CryptoOrderManagerService/DesignTimeBuild/
Service/CryptoOrderManagerService/Crypto.Data/obj/